---
---
<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

<header class="masthead">
  <img src="{{ '/images/test_masthead.jpg' | relative_url }}" alt="Site banner">
</header>


<!--  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
<!--    {% include_cached skip-links.html %}
<!--    {% include_cached masthead.html %}
<!-- Hamburger Button -->
<div class="mobile-layout">
  <header>
  <nav>
      <div class="hamburger">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
        <span class="bar bar4"></span>
      </div>
    </label>
    <ul class="first-level-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">C/V</a></li>
      <li><a href="#">Research</a></li>
      <li><a href="#">Visualizations</a></li>
    </ul>
  </nav>
</header>
</div>
    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    
    <script>
  function toggleMenu() {
    const menu = document.getElementById('menu');
    menu.classList.toggle('show');
  }
</script>

  </body>
</html>
