---
layout: default
---

{{ content }}
<h3 class="archive__subtitle">Greetings, and welcome to Collin O'Connor's professional and personal website!</h3>
<div style="display: flex; gap: 2rem; flex-wrap: wrap;">
<div style="flex: 3; min-width: 300px;">
<h3><strong>Professionally,</strong></h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collin O'Connor is a spatial epidemiologist, ecologist, and biogeographer, 
primarly focused on researching the dynamic mechanisms of tick-borne disease eco-epidemiology. A recent Ph.D. graduate from the
 <a href = "https://www.buffalo.edu/cas/geography.html">University at Buffalo's Department of Geography</a>, Collin spent 
 five years taking courses in spatial statistical and econometric analysis, spatial data science, biostatistics, and 
 geostatistics, all under the tutelage of his academic advisor,
 <a href = "https://www.buffalo.edu/cas/geography/faculty/faculty_directory.host.html/content/shared/cas/geography/faculty-staff/faculty-profiles/aldstadt-jared.html".>
Jared Aldstadt</a>. He also created and taught two spatial statistics courses for undergraduates:
<em>Univariate Statistics in Geography</em> and <em>Multivariate Statistics in Geography</em>, each of which included a laboratory section teaching 
basic R programming and some spatial features.

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prior to his Ph.D. journey, Collin earned a Master of Science in epidemiology and a Bachelor of Science in biology from the 
<a href = "https://www.albany.edu/">University at Albany</a>. Go Danes!
And he even spent a semester abroad taking courses towards his biology degree at the <a href="https://www.universityofgalway.ie/">University of Galway</a>, in Galway City, Ireland!

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outside of academia, Collin works for the New York State Department of Health (NYSDOH)
in the Bureau of Communicable Disease Control. Specifically, Collin is a member of the NYSDOH Vector Ecology Laboratory, headed by 
<a href="https://www.wadsworth.org/senior-staff/melissa-prusinski">Melissa Prusinski</a>. The research conducted in the Vector Ecology Laboratory
involves traveling to public parks throughout New York State to collect live tick specimens and test them for potential pathogens. This research has guided Collin's professional and academic journey, culminating in 
<a href = "https://scholar.google.com/citations?hl=en&user=C9FrFxMAAAAJ&view_op=list_works&gmla=AH8HC4zioJo3MXUvTYphgZ7DSljziKs9YY9bRFJlE7NL2BBTeFG0gQdWxIlOyFD8YC5l1IW_TerqOnoraK2M9tG0">
    several publications</a> and a dissertation: Deer as Dilution Hosts: Testing Density Dependent Mechanisms in the <em>Ixodes scapularis</em> 
and <em>Anaplasma phagocytophilum</em> Genetic Variant System.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collin has additional broad research interests beyond the eco-epidemiology of tick-borne disease, including 
mosquito-borne disease, COVID-19, and geographical/spatially-explicit methods:

<img src="images/GOL.jpeg">

</div>

<div style="flex: 1; min-width: 300px;">
    <img src="images/UB_GEO.png">
    <br>
    &nbsp;
    <img src="images/Ticks.jpeg">

</div>
</div>



<div style="display: flex; gap: 2rem; flex-wrap: wrap;">
<div style="flex: 3; min-width: 300px;">

<h3><strong>Personally,</strong></h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collin lives in Buffalo, New York with his wife and twin daughters. 
He enjoys: music of (almost) all types, reading fiction and non-fiction (follow me on <a href = "https://www.goodreads.com/user/show/163785174-collin-o-connor">Goodreads</a>!), 
movies (follow me on <a href = "https://letterboxd.com/coconn41/">Letterboxd</a>!), traveling, home-improvement projects, attempting to
learn the Polish language (Ja jestem głupi), and spending time 
with friends and family.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collin is also a lover of all things science! If he had to pick a dream job (besides hunting ticks, of course),
he would pick physicist, though, maybe one Ph.D. is enough! Additionally, he considers himself a trained skeptic and practitioner of 
of critical thinking. Though he hasn't gotten around to it, he'd like to join a cause that fights misinformation, alternative medicine,
and pseudoscience more broadly.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There is of course, much more to say about Collin, but if you are interested in any of his work,
please feel free to drop him a line on ResearchGate (link below) or send him an email to collinoconnor3@gmail.com!

</div>

<div style="flex: 1; min-width: 300px;">

</div>
</div>